<div class="container" ng-controller="NotifierCtrl" ng-init="controllerInit()">
    <h3>Flows To Watch <button class="btn btn-mini" ng-click="refreshFlowNames()">Refresh Flow Names</button></h3>
    <div ng-repeat="flow in ListOfFlows" class="checkbox">
        <label>
            <input type="checkbox" name="selectedFlow[]" value="{{flow.name}}"
                   ng-checked="FlowsToListenTo.indexOf(flow.parameterized_name) > -1"
                   ng-click="toggleFlow(flow.parameterized_name)" ng-disabled="ListeningToFlows">
            {{flow.name}} ({{flow.organization.name}})
        </label>
    </div>
    <h4>Settings</h4>
    <div class="checkbox">
        <label for="notificationSoundEnabled">
            <input type="checkbox" id="notificationSoundEnabled" ng-checked="SoundEnabled === true"
                   value="{{SoundEnabled}}" ng-click="toggleSound()">
            Enable Sound
        </label>
    </div>
    <div class="form-group">
        <label for="watchedWords">Words to Watch For (Separated by spaces):</label>
        <input type="text" class="form-control" id="watchedWords" ng-model="WordsToWatchFor" ng-blur="parseWordsToWatchFor()">
    </div>

    <div class="button-group">
        <button class="btn btn-primary" ng-click="startListening()" ng-if="!ListeningToFlows">
            Start Listening to Flows
        </button>
        <button class="btn btn-danger" ng-click="stopListening()" ng-if="ListeningToFlows">
            Stop Listening to Flows
        </button>
        <button class="btn" ng-click="clearSiteCookies()">Clear Cookies for Site</button>
    </div>

    <!--<h4>Flows Listening To</h4>-->
    <!--<pre>{{FlowsToListenTo}}</pre>-->

    <!--<h4>Sound Enabled</h4>-->
    <!--<pre>{{SoundEnabled}}</pre>-->

    <!--<h4>Words Watching For</h4>-->
    <!--<pre>{{WordsToWatchFor}}</pre>-->

    <!--<h4>Parsed Words Watching For</h4>-->
    <!--<pre>{{ParsedWordsToWatchFor}}</pre>-->
</div>