<div ng-controller="NotifierCtrl">
    <div class="text-center">
        <h3>Notifier</h3>
    </div>
    <div class="text-center">
        <button class="btn btn-mini" ng-click="refreshFlowNames()">Refresh Flow Names</button>
        <button class="btn btn-mini" ng-click="refreshUserList()">Refresh User List</button>
        <button class="btn" ng-click="clearSiteCookies()">Clear Cookies for Site</button>
    </div>

    <div class="page-header">
        <h3>Flows To Watch for Keywords</h3>
    </div>
    <div ng-repeat="flow in ListOfFlows" class="checkbox">
        <label>
            <input type="checkbox" name="selectedKeywordFlow[]" value="{{flow.name}}"
                   ng-checked="FlowsToListenToKeywords.indexOf(flow.parameterized_name) > -1"
                   ng-click="toggleFlow(flow.parameterized_name, 'keywordsWatched')" ng-disabled="ListeningToKeywordFlows">
            {{flow.name}} ({{flow.organization.name}})
        </label>
    </div>
    <h4>Settings</h4>
    <div class="checkbox">
        <label for="notificationSoundEnabledForKeywords">
            <input type="checkbox" id="notificationSoundEnabledForKeywords" ng-checked="SoundEnabledForKeywords"
                   ng-click="toggleSound('keywordsWatched')">
            Enable Sound
        </label>
    </div>
    <div class="form-group">
        <label for="watchedWords">Words to Watch For (Separated by spaces):</label>
        <input type="text" class="form-control" id="watchedWords" ng-model="WordsToWatchFor" ng-blur="parseWordsToWatchFor()">
    </div>

    <div class="button-group">
        <button class="btn btn-primary" ng-click="startListening('keywordsWatched')" ng-if="!ListeningToKeywordFlows">
            Start Listening for Keywords
        </button>
        <button class="btn btn-danger" ng-click="stopListening('keywordsWatched')" ng-if="ListeningToKeywordFlows">
            Stop Listening for Keywords
        </button>
    </div>

    <div class="page-header">
        <h3>Flows To Watch Constantly</h3>
    </div>
    <div ng-repeat="flow in ListOfFlows" class="checkbox">
        <label>
            <input type="checkbox" name="selectedConstantlyFlow[]" value="{{flow.name}}"
                   ng-checked="FlowsToListenToConstantly.indexOf(flow.parameterized_name) > -1"
                   ng-click="toggleFlow(flow.parameterized_name, 'constantlyWatched')" ng-disabled="ListeningToConstantlyFlows">
            {{flow.name}} ({{flow.organization.name}})
        </label>
    </div>
    <h4>Settings</h4>
    <div class="checkbox">
        <label for="notificationSoundEnabledForConstantlyWatched">
            <input type="checkbox" id="notificationSoundEnabledForConstantlyWatched"
                   ng-checked="SoundEnabledForConstant" ng-click="toggleSound('constantlyWatched')">
            Enable Sound
        </label>
    </div>

    <div class="button-group">
        <button class="btn btn-primary" ng-click="startListening('constantlyWatched')" ng-if="!ListeningToConstantlyFlows">
            Start Watching for Activity
        </button>
        <button class="btn btn-danger" ng-click="stopListening('constantlyWatched')" ng-if="ListeningToConstantlyFlows">
            Stop Watching for Activity
        </button>
    </div>

    <br/>
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">Notification History</div>
        <div class="panel-body">
            <span ng-repeat="notification in NotificationHistory | orderBy: '[]' : true">
                <span class="row" style="margin: 0 !important;">
                    <p><b>{{notification.Title}}</b> - {{notification.FormattedDate}} <br/>
                    {{notification.Body}}</p>
                </span>
            </span>
        </div>
    </div>
</div>