<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flowdock Utilities</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" href="app.css">
  <link href="bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf" type="application/x-font-ttf">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-3.5.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container" ng-controller="MainAppCtrl">
    <div class="page-header text-center">
      <h2>Flowdock Utilities</h2>
    </div>
    <div class="text-center" style="padding-bottom: 15px;">
      <div class="btn-group">
        <button type="button" class="btn" ng-class="{ 'active': AppMode == 'Notifier'}" ng-click="setAppMode('Notifier')">
          Notifier
        </button>
        <button type="button" class="btn" ng-class="{ 'active': AppMode == 'Search'}" ng-click="setAppMode('Search')">
          Search
        </button>
        <button type="button" class="btn" ng-class="{ 'active': AppMode == 'FlowList'}" ng-click="setAppMode('FlowList')">
          Flow List
        </button>
        <button type="button" class="btn" ng-class="{ 'active': AppMode == 'UserList'}" ng-click="setAppMode('UserList')">
          User List
        </button>
        <button type="button" class="btn" ng-class="{ 'active': AppMode == 'Tags'}" ng-click="setAppMode('Tags')">
          Tags
        </button>
      </div>
    </div>
    <div ng-view></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-audio/app/angular.audio.js"></script>
  <script src="bower_components/angular-audio/app/scripts/main.js"></script>
  <script src="app.js"></script>
  <script src="util/DateUtil.js"></script>
  <script src="util/FlowdockAuthService.js"></script>
  <script src="util/NotificationService.js"></script>
  <script src="util/FlowdockNotifierService.js"></script>
  <script src="notifier/notifier.js"></script>
  <script src="notifier/notifier.js"></script>
  <script src="UserList/UserList.js"></script>
  <script src="FlowList/FlowList.js"></script>
  <script src="Search/Search.js"></script>
  <script src="Tags/Tags.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
