<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flowdock Utilities</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-gJWVjz180MvwCrGGkC4xE5FjhWkTxHIR/+GgT8j2B3KKMgh6waEjPgzzh7lL7JZT" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="npm/bootstrap-theme.min.css"> -->
  <link rel="stylesheet" href="app.css">
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container" ng-controller="MainAppCtrl">
    <div class="page-header text-center">
      <h2>Flowdock Utilities</h2>
    </div>
    <div class="text-center" style="padding-bottom: 15px;">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': AppMode == 'Notifier'}" ng-click="setAppMode('Notifier')">
          Notifier
        </button>
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': AppMode == 'Search'}" ng-click="setAppMode('Search')">
          Search
        </button>
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': AppMode == 'FlowList'}" ng-click="setAppMode('FlowList')">
          Flow List
        </button>
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': AppMode == 'UserList'}" ng-click="setAppMode('UserList')">
          User List
        </button>
        <button type="button" class="btn btn-secondary" ng-class="{ 'active': AppMode == 'Tags'}" ng-click="setAppMode('Tags')">
          Tags
        </button>
      </div>
    </div>
    <div ng-view></div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- <script src="npm/bootstrap.min.js"></script> -->
  <script src="npm/angular.min.js"></script>
  <script src="npm/angular-route.min.js"></script>
  <script src="npm/angular-cookies.min.js"></script>
  <script src="app.js"></script>
  <script src="util/UserUtil.js"></script>
  <script src="util/DateUtil.js"></script>
  <script src="util/FlowdockAuthService.js"></script>
  <script src="util/NotificationService.js"></script>
  <script src="util/FlowdockNotifierService.js"></script>
  <script src="notifier/notifier.js"></script>
  <script src="notifier/notifier.js"></script>
  <script src="UserList/UserList.js"></script>
  <script src="FlowList/FlowList.js"></script>
  <script src="Search/Search.js"></script>
  <script src="Tags/Tags.js"></script>
</body>
</html>
